<html>
<body>
 <h1>Welcome To My World !!!</h1><br>
 <table border="1">
 <tr><td>HOSTNAME</td><td><%= node['hostname'] %></td></tr>
 <tr><td>IPADDRESS</td><td><%= node['ipaddress'] %></td></tr>
 <tr><td>CPU</td><td><%= node['cpu']['0']['mhz'] %></td></tr>
 <tr><td>Memory</td><td><%= node['memory']['total'] %></td></tr>
 <tr><td>NAME</td><td><%= @name %></td></tr>
 <tr><td>Attribute 1</td><td><%= node['ws_config']['attr1'] %></td></tr>
 <tr><td>Attribute 2</td><td><%= node['ws_config']['attr2'] %></td></tr>
 </table>

 <img src='flower.png'/>
</body>
</html>
